@media (max-width: 320px) {
   
    .links{
        display: none;
    }
    
    .navbar-right{
        display: none;
    }
}



/*--Header 1-- */
@media (max-width: 320px){
    
    .header1{
        height: 100%;
        align-items: center;
    }
    .left-side{
        width: 100%;
        float: none;
        padding: 0px;
    }
    .header1-img{
        width: 290px;
        height: 220px;

    }
    .right-side{
        width: 100%;
        float: left;
        margin-top: 20px;
        padding-right: 0px;
    }
    .header1-maintext{
        font-size: 25px;
    }
}




/*--Items-- */
@media (max-width: 320px){
    .items{
        margin: 50px 0px;
        margin-left: 30px;
    }
    .item{
        width: 50%;
        padding-bottom: 20px;
    }
}



/*--Two line header--*/
@media (max-width: 320px){
   .header2{
        margin-left: 0px; 
    }

    .header2-right{
        float: none;
        width: 100%;
        
    }

    .header2-left{
        width: 100%;
        float: none;
        padding-left: 30px;
        clear: both;
    }
    
    .header2-img{
        width: 320px;
        height: 300px;
    }
    
}