@media (max-width: 320px) {
   
    .links{
        display: none;
    }
    
    .navbar-right{
        display: none;
    }
}



/*--Header 1-- */
@media (max-width: 320px){
    
    .header1{
        height: 100%;
        align-items: center;
    }
    .left-side{
        width: 100%;
        float: none;
        padding: 0px;
    }
    .header1-img{
        width: 290px;
        height: 220px;

    }
    .right-side{
        width: 100%;
        float: left;
        margin-top: 20px;
        padding-right: 0px;
    }
    .header1-maintext{
        font-size: 25px;
    }
}