body {
    margin: 0;
}


/*---navigation bar---*/
.navbar{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 30px;
    align-items: center;
    padding: 10px;
    
}

.logo {
    width: 30px;
}

.links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin-right: 20px;
}

.links a{
    text-decoration: none;
    color: black;
}

.navbar-right {
    justify-self: end;
}

.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-right ul li {
    margin-right: 20px;
}

.navbar-right a{
    text-decoration: none;
    color: black;
}

.nav-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}




/*---Header 1---*/
.header1{
    display: grid;
    grid-template-columns: 45% 45%;
    padding: 20px;
    grid-gap: 30px;
    margin-top: 20px;
}

.left-side{
    justify-self: end;
}

.header1-img{
    width: 362px;
    height: 350px;
}

.right-side{
    justify-self: flex-start;
}
.header1-maintext {
    font-size: 32px;
    font-weight: bold;
}



/*--Items--*/
.items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px 30px;
    grid-gap: 10px;
}

.item {
    justify-self: center;
    padding: 10px;
}




/*--Two line header--*/
.header2{
    display: grid;
    grid-template-columns: 1fr 650px;
    margin: 20px 0px;
    align-items: center;
}

.header2-left{
    text-align: left;
    justify-self: flex-start;
    padding-left: 100px;

}
.header2-maintext{
    font-size: 28px;
    font-weight: bold;
}
.header2 a{
    color: blue;
    text-decoration: none;
}

.header2-rigth{
    justify-self: end;
}
.header2-img{
    width: 469px;
    height: 650px;
}



/*-Heading 1--*/
.heading1{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-top: 40px;
}
.heading1-left{
    text-align: left;
    justify-self: flex-start;
    margin-left: 100px;

}
.heading1-maintext{
    font-size: 22px;
    font-weight: bold;
}

.heading1-right{
    justify-self: flex-end;
    margin-right: 100px;
}

.heading1-right input{
    width: 362px;
}
.heading1-right button {
    display: block; 
    margin-top: 10px; 
    margin-left: auto;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
}