body {
    margin: 0;
}


/*---navigation bar---*/
.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 30px;
    align-items: center;
    padding: 10px;
    
}

.logo {
    width: 30px;
}

.links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin-right: 20px;
}

.links a {
    text-decoration: none;
    color: black;
}

.navbar-right {
    justify-self: end;
}

.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-right ul li {
    margin-right: 20px;
}

.navbar-right a {
    text-decoration: none;
    color: black;
}

.nav-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}




/*---Header 1---*/
.header1{
    display: grid;
    grid-template-columns: 45% 45%;
    padding: 20px;
    grid-gap: 30px;
    margin-top: 20px;
}

.left-side{
    justify-self: end;
}

.header1-img{
    width: 362px;
    height: 350px;
}

.right-side{
    justify-self: flex-start;
}
.header1-maintext{
    font-size: 32px;
    font-weight: bold;
}


/*--Items--*/
.items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px 30px;
    grid-gap: 20px;
}

.item{
    justify-self: center;
    padding: 10px;
}
