/*--navigation bar*/
@media (max-width: 320px) {
   
    .links{
        display: none;
    }
    
    .navbar-right{
        display: none;
    }
}


/*--Header1--*/
@media (max-width: 320px) {
    .header1{
        grid-template-columns: 1fr;
        padding: 10px;
        margin-left: 5px;
    }  
    .header1-img{
        width: 290px;
        height: 220px;
    }

    .right-side,.left-side{
        justify-self: center;
    }

    .header1-maintext{
     font-size: 25px;
    }

}


/*--Items--*/
@media (max-width: 320px) {
    .items{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        margin: 20px 20px;
    }
}



/*--Two line header--*/
@media (max-width: 320px){
    .header2{
        grid-template-columns: 1fr;
    }
    .header2-img{
        width: 320px;
        height: 300px;
    }
    .header2-maintext{
     font-size: 25px;
    }
}