
/*--navigation bar*/
@media (max-width: 568px) {
   
    .links{
        display: none;
    }
    
    .navbar-right{
        display: none;
    }
}



/*--Header1--*/
@media (max-width: 568px) {
    .header1{
        grid-template-columns: 1fr;
    }  
    .header1-img{
        width: 508px;
        height: 278px;
    }

    .right-side,.left-side{
        justify-self: center;
    }

}



/*--Items--*/
@media (max-width: 568px){
    .items{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        padding-top: 0;
        margin-left: 0;
        margin-right: 70px;
        grid-gap: 10px;
    }

    .item{
        justify-self: start;
        padding-top: 0;
    }
}