
/*--navigation bar*/
@media (max-width: 568px) {
   
    .links{
        display: none;
    }
    
    .navbar-right{
        display: none;
    }
}



/*--Header1--*/
@media (max-width: 568px) {
    .header1{
        grid-template-columns: 1fr;
        margin-left: 10px;
    }  

    .header1-img{
        width: 508px;
        height: 278px;
    }

    .right-side,.left-side{
        justify-self: center;
    }

}



/*--Items--*/
@media (max-width: 568px){
    .items{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        padding-top: 0;
        margin-left: 30px;
        margin-right: 100px;
        grid-gap: 10px;
    }

    .item{
        justify-self: start;
        padding-top: 0;
    }
}


/*--Two line header--*/
@media (max-width: 568px){
    .header2{
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .header2-left{
        grid-row: 2;
    }
    .header2-img{
        width: 568px;
        height: 532px;
    }
}



/*-Heading 1--*/
@media (max-width: 568px){
    .heading1{
        grid-template-columns: 1fr;
    }
    .heading1-left{
        text-align: left;
        justify-self: flex-start;
        margin-left: 30px;
    }
    .heading1-right{
        justify-self: flex-start;
        margin-left: 30px;
    }
    .heading1-right button {
        display: inline; 
    }
}